.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.match-played {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.select-option {
  width: 150px;
}

.vis-tooltip {
  padding: 4px 8px 4px 8px;
  color: white;
  background: black;
  border-radius: 8px;
  word-break: keep-all;
}